build_template: &build_template
  docker:
    - image: circleci/buildpack-deps:curl
  environment:
    RUSTC_VER: 1.28.0
  steps:
    - checkout
    - setup_remote_docker
    - run:
        name: Install Docker client
        command: |
          set -x
          VER="18.03.1-ce"
          curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
          tar -xz -C /tmp -f /tmp/docker-$VER.tgz
          sudo mv /tmp/docker/* /usr/bin
    - run: docker build --no-cache --rm --build-arg TOOLCHAIN=${TOOLCHAIN:-${RUSTC_VER}} -t docker-rust .
    - run: |
        if [[ "${CIRCLE_BRANCH}" = "master" ]]; then
          echo "${QUAY_PASS}" | docker login quay.io -u ${QUAY_USER} --password-stdin
          docker tag docker-rust quay.io/tkrs/docker-rust:${TAG:-${RUSTC_VER}}
          docker push quay.io/tkrs/docker-rust:${TAG:-${RUSTC_VER}} 
        fi
version: 2
jobs:
  latest:
    <<: *build_template
  stable:
    <<: *build_template
  beta:
    <<: *build_template
  nightly:
    <<: *build_template
workflows:
  version: 2
  commit:
    jobs:
      - latest
      - stable:
          context: docker-rust-stable
          requires:
            - latest
          filters:
            branches:
              only: master
      - beta:
          context: docker-rust-beta
          requires:
            - latest
          filters:
            branches:
              only: master
      - nightly:
          context: docker-rust-nightly
          requires:
            - latest
          filters:
            branches:
              only: master
  stable_scheduled:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - stable:
          context: docker-rust-stable
  beta_scheduled:
    triggers:
      - schedule:
          cron: "0 2 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - beta:
          context: docker-rust-beta
  nightly_scheduled:
    triggers:
      - schedule:
          cron: "0 4 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - nightly:
          context: docker-rust-nightly
